/***************************************
GENERAL
****************************************/


body {
    color: #878787;
    margin: 0;
    font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
text-decoration: none;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

#logo {
  text-align: center;
  margin: 0;
}


a {
   color: #696969;
}

img {
 max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;
}
/***************************************
HEADING
****************************************/


header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Changa one', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-size: 1.75em;
  margin: -5px 0 0;
  font-weight: normal;
}

.back {

    background: linear-gradient(#000000, transparent 30%),
    linear-gradient(0deg, #fff, transparent 25%),
    url('../img/back.jpg') no-repeat center;

    background-size: cover;
}


/***************************************
NAVIGATION
****************************************/

nav {
 text-align:center;
 padding: 10px 0;
 margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a { 
  font-weight: 800;
  padding: 15px 10px;
  
}


/***************************************
FOOTER
****************************************/

footer {
 font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 300px;
  color: #ccc;
}
.social-icon {
  width: 20px;
  height: 20px;
  margin:0 5px;
}


/***************************************
PAGE: LOG IN
****************************************/
.formclass {

    padding-top: 250px;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    font-size: large;

}






/***************************************
COLORS
****************************************/




body {
  background-color: #fff;
  color: #DCDCDC;
}


header {
  background: #000000;
  border-color: #696969;
}

h1, h2 {
  color: #fff;
}

nav {
    background: #696969;
}

nav a, nav a:visited {
color: #fff;
}

nav a.selected, nav a:hover {
  color: #696969;
}















